#bod {
    background: #212121;
    color: azure;
    font-family: "Bookman Old Style";
}
input, textarea {
    background: #313131;
    color: azure;
    border-color: #11999e;
    text-align: center;
}
header {
    text-align: center;
}
button {
    background: #313131;
    color: gold;
}
hr {
    border: none;
    height: 2px;
    background-color:#11999e;
}
select {
    border-color: #11999e;
    background: #212121;
    color: gold;
}